# Estadística Aplicad
## Alejandro Hernández Cerda 1903855
### 7ma sesión 14 de feb de 2023

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
credito=pd.read_csv('https://raw.githubusercontent.com/jimmyzac/Estadistica-Aplicada-FCFM-UANL/main/bases_datos/credit_risk.csv')

In [3]:
credito.head()

,checking_account_status,duration,credit_history,purpose,amount,savings_account_status,employment_years,installment_rate,personal_status,other_debtors,...,property,age,other_installment_plans,housing,number_of_credits,job,people_liable,telephone,foreign_worker,full_repaid
0,below_0,6,critical_account,radio_TV,1169,unknown,above_7,4,M_single,None,...,real_estate,67,None,own,2,official,1,1,1,1
1,0_to_200,48,existing_credit_paid,radio_TV,5951,below_100,between_1_4,2,F_not_single,None,...,real_estate,22,None,own,1,official,1,0,1,0
2,no_account,12,critical_account,education,2096,below_100,between_4_7,2,M_single,None,...,real_estate,49,None,own,1,unskilled,2,0,1,1
3,below_0,42,existing_credit_paid,furniture_equipment,7882,below_100,between_4_7,2,M_single,guarantor,...,life_insurance,45,None,free,1,official,2,0,1,1
4,below_0,24,delay_in_paying,car_new,4870,below_100,between_1_4,3,M_single,None,...,no_property,53,None,free,2,official,2,0,1,0

In [4]:
credito[['duration','full_repaid']]

     duration  full_repaid
0           6            1
1          48            0
2          12            1
3          42            1
4          24            0
..        ...          ...
995        12            1
996        30            1
997        12            1
998        45            0
999        45            1

[1000 rows x 2 columns]

En esta base de datos, el evento es pagar el crédito en su totalidad donde 0 es que no ha terminado y 1 es que ya lo completó

Cuando no omitimos los datos que aun no han terminado de pagar el promedio se dispara
### Incorrecto

In [12]:
round(credito['duration'].mean(),2)

20.9

Una vez omitimos esos datos, el promedio se pondera
### Correcto

In [14]:
round(credito[credito['full_repaid']==1]['duration'].mean(),2)

19.21

La variable **T** es una v.a no negatica que mide el tiempo de supervivencia $T\geq0$
donde **t** es un valor especifico que toma la variable **T**

La funcion de supervivencia se denota por:

$$S(t)=P(T>t)$$

Sus caracteristicas son:
1. $S(0)=1$
2. $S(t \rightarrow \infty)=0$
3. **Funcion decreciente**

$P(T<t)= F(t)$

La probabilidad de que el evento/falla ocurra antes del tiempo "t"

F(t) es la funcion de distribución acumulada, y si conocemos F(t) podemos conocer la funcion de densidad derivando la acumulada:

$$f(t)=\frac{dFt}{dt}$$

$f(t)=P(T=t)$ es la probabilidad de que el evento ocurra en "t"

$P(A)=1-P(A)$

$P(T<t) = 1 - P(T>t)$

$F(t)=1-S(t)$

$S(t)=1-F(t)$

Sabemos que $f(t)=\frac{dFt}{dt}=\frac{d(1-S(t)}{dt}=-\frac{dS(t)}{dt}$

Hallar la probabilidad de morir a los 40 años, si la funcion de supervivencia de los individuos es la siguiente: $1-\frac{t^2}{10,000}$